:root {
  font-size: 100%;

  @include break-max-lg {
    font-size: 95%;
  }
  @include break-max-md {
    font-size: 90%;
  }
  @include break-max-sm {
    font-size: 85%;
  }
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, b, small, label, button, input {
  @include font-muli-regular;
  margin: 0;
}

button {
  cursor: pointer;
}

b {
  @include font-muli-bold;
}

a {
  @include font-muli-regular;
  @include size-s;
  color: $colorTheme;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
