$colorTheme: #a9c5ba;
$colorGreyLight: #707070;
$colorGreyDark: #00000029;
$fontFamilyMuli: 'Muli', sans-serif;
$fontFamilyLato: 'Lato', sans-serif;
$fontSizeXl: 35px;
$fontSizeL: 30px;
$fontSizeM: 20px;
$fontSizeS: 16px;
$fontSizeXS: 14px;

// FIXME:
// @media screen and (max-width: 968px) {
//   $fontSizeXl: 30px;
//   $fontSizeL: 25px;
//   $fontSizeM: 15px;
//   $fontSizeS: 11px;
//   $fontSizeXS: 9px;
// }