$colorTheme: #a9c5ba;
$colorGreyLight: #707070;
$colorGreyDark: #00000029;
$fontSizeXl: 35px;
$fontSizeL: 30px;
$fontSizeM: 20px;
$fontSizeS: 16px;
$fontSizeXS: 14px;
$fontFamilyMuli: 'Muli', sans-serif;
$fontFamilyLato: 'Lato', sans-serif;
